.form-background {
	font-family: 'Questrial';
	color: white;
	background-color: rgb(0, 82, 145);
}

.form-section {
	display: flex;
	flex-direction: column;
	width: 40rem;
	min-height: 100vh;
	margin: auto;
	background-color: rgb(238, 127, 0);
}

.form-section-header, .form-section-footer {
	flex-grow: 1;
}

.form-header-primary {
	text-align: center;
	font-size: 5rem;
	margin-bottom: 2rem;
}

.form-header-secondary {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 1rem;
}

.form-button {
	--form-button-margin: 3rem;
	--form-button-width: 10rem;
	--form-button-height: 4rem;
	--form-button-font-size: 1.3rem;

	position: relative;
	color: white;
	background-color: rgb(0, 82, 145);
	margin: var(--form-button-margin) auto;
	width: var(--form-button-width);
	height: var(--form-button-height);
	text-align: center;
	cursor: pointer;
}

.form-button-content {
	position: absolute;
	font-size: var(--form-button-font-size);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form-button:active {
	background-color: rgb(0, 49, 87);
}

.form-button--small {
	--factor: .75;

	margin: calc(var(--factor) * var(--form-button-margin)) 0rem;
	width: calc(var(--factor) * var(--form-button-width));
	height: calc(var(--factor) * var(--form-button-height));
}

.form-button-content--small {
	font-size: calc(var(--factor) * var(--form-button-font-size));
}