* {
	margin: 0;
	padding: 0;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#root {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

#app {
	display: flex;
	overflow: hidden;
	user-select: none;
}

.view {
	display: flex;
	flex-direction: column;
	height: 100vh;
	border: 5px solid #dbdbdb;
	overflow-x: hidden;
}

#explorer.visible, #editor.visible, #session.visible {
	flex: 1;
	transition: flex .5s;
}

#editor:not(.visible), #session:not(.visible) {
	flex: 0;
	border: none;
	transition: flex .5s;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 50px;
	background-color: #dbdbdb;
	white-space: nowrap;
}

.scrollable {
	flex: 1 0;
	padding: 5px;
	overflow: auto;
}

.dropZone {
	border: 1px blue dotted;
	background-color: rgba(98, 156, 201, .5);
}

.color-team-1 {
	color: rgb(238, 0, 0);
}

.color-team-2 {
	color: rgb(238, 213, 0);
}

.color-team-3 {
	color: rgb(0, 238, 95);
}

.color-team-4 {
	color: rgb(0, 202, 238);
}

.color-team-5 {
	color: rgb(190, 0, 238);
}

.background-color-team-1 {
	background-color: rgb(238, 0, 0);
}

.background-color-team-2 {
	background-color: rgb(238, 213, 0);
}

.background-color-team-3 {
	background-color: rgb(0, 238, 95);
}

.background-color-team-4 {
	background-color: rgb(0, 202, 238);
}

.background-color-team-5 {
	background-color: rgb(190, 0, 238);
}

.background-color-blue {
	background-color: rgb(0, 83, 146);
}

.color-blue {
	color: rgb(0, 83, 146);
}

.color-orange {
	color: rgb(238, 127, 0);
}