.menu {
	position: absolute;
	border: 1px #aaaaaa solid;
	background-color: white;
	z-index: 1;
}

.menu > * {
	display: block;
	padding: 5px;
	text-decoration: none;
	cursor: default;
	color: black;
}

.menu > *:hover {
	background-color: #ebebeb;
	text-decoration: none;
	color: black;
}

.autocomplete {
	position: relative;
}

.autocomplete > .menu {
	width: 100%;
}

.autocomplete > .menu > * {
	background-color: #ffffff;
}

.autocomplete > .menu > *.active {
	background-color: #ebebeb;
}