.darkBackground {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
	z-index: 100;
}

#teamChooser {
	font-family: 'Questrial', sans-serif;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30rem;
	height: 30rem;
	background-color: white;
	border-radius: .5rem;
}

#teamChooserTitle {
	font-size: 1.5rem;
	margin: 3rem 0;
	text-align: center;
}

#teamChooserBody {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 2rem;
}

.teamOption {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
	transition: transform .2s;
}

.teamOption:hover {
	transform: scale(1.25);
}

.teamOption:active {
	transform: scale(1.15);
}

.teamOptionRectangle {
	width: 4rem;
	height: 2rem;
	margin-left: 1rem;
	border-radius: .3rem;
}